.text-one {
  margin: 20px auto;

  border: 2px dotted black;

  width: 50%;

  padding-right: 20px;

  padding-left: 10px;

  font-family: Arial, Helvetica, sans-serif;
}
.hellovas {
  text-align: center;
}

.button {
  display: flex;

  align-items: flex-end;

  justify-content: flex-end;
}
