<!-- <div class="navbar">
  <a routerLink="/" style="color: #f7e200; text-decoration: none"
    >Online Store</a
  >
  <!-- <h1 style="color: white">Our Products</h1> -->
<!-- <a routerLink="/complaints" id="comp-button">Complaints</a>
</div> -->

<!--<app-card></app-card> -->
<div class="navba">
  <a routerLink="/" style="color: #000000; text-decoration: none"
    >Online Store</a
  >
  <!-- <h1 style="color: white">Our Products</h1> -->
  <a routerLink="/complaints" id="comp">Help Desk</a>
</div>
